extends layout

//- - function addQuotee() { alert("heemo time!") }

block content
    a(href='/index') Home
    h1= title
    p Welcome to nickname fixer
    script.
        function showField(nickname_id) {
            let div = document.getElementById(`add-quotee-${nickname_id}-div`);
            div.style = '';
        }

        async function addQuotee(nickname_id) {
            let div = document.getElementById(`add-quotee-${nickname_id}-div`);
            div.style = 'display:none;';
            let name = document.getElementById('quotee-name');
            name = name.value;
            console.log(`new quotee name: ${name}`);
            let select = document.getElementById('quotee-select');
            let option = document.createElement('option');
            option.value = -1;
            option.innerHTML = name;
            select.appendChild(option);
            option.selected = true;
        }
    form(action='/nicknames', method='post')
        each field in fields
            input(type='hidden', name='nickname_id', value=field.nickname_id)
            label(for='nickname')
                p <strong>Nickname:</strong> #{field.nickname}  
            input(type='hidden', name='nickname', value=field.nickname)
            //- details(style='display:none;' id='search-results')
            //-     summary Search results
            label(for='quote_text')
                p <strong>Quote:</strong> #{field.quote_text}
            input(type='hidden', name='quote_text', value=field.quote_text)
            input(type='hidden', name='quote_id', value=field.quote_id)
            label(for='person_id') <strong>Quotee to match with</strong>  
            select(name='person_id' id='quotee-select')
                option(value=null id='null-option')
                each name in names
                    option(value=name.person_id) #{name.name}
            button(type='button'  onclick='showField('+field.nickname_id+')') + Add quotee
            div(class='hidden', style='display:none;' id='add-quotee-'+field.nickname_id+'-div')
                    label(for='quotee_name') <strong> Quotee name:</strong> 
                    input(type='text' name='quotee_name' id='quotee-name')
                    - let addQuoteeString = `addQuotee(${field.nickname_id})`
                    button(type='button' onclick=addQuoteeString) Add
            br
            input(type='checkbox' name='add-verbatim' id='add-verbatim')
            label(for='add-verbatim') Add name verbatim
            br
            input(type='checkbox' name='no-associate' id='no-associate')
            label(for='no-associate') Don't associate nickname with quote
            br
            input(type='checkbox' name='delete-quote' id='delete-quote')
            label(for='delete-quote') X Delete quote
            br
        input(type='submit', value="Submit")